# Dependencies
node_modules/
.pnpm-store/

# Metro
.metro-health-check*

# React Native
*.log
*.hprof

# Android
android/.gradle/
android/.idea/
android/local.properties
android/app/build/
android/build/
android/.cxx/
android/.externalNativeBuild/
android/captures/
android/gradle/
*.apk
*.aab

# iOS
ios/Pods/
ios/build/
ios/DerivedData/
ios/*.xcworkspace
ios/Podfile.lock

# Xcode
*.xcuserstate
xcuserdata/
DerivedData/

# Environment variables
.env
.env.*
!.env.example

# IDE
.idea/
.vscode/
*.iml

# OS
.DS_Store
Thumbs.db

# Temporary files
*.tmp
*.temp